<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-click="vm.ToggleSideNav()" hide-gt-sm class="md-icon-button">
          <md-icon md-svg-icon="assets/images/icons/menu.svg"></md-icon>
        </md-button>
        <h1>
          Contact Details
        </h1>
        <span flex></span>
        <md-button ng-href="#/dashboard" class="md-icon-button">
          <md-icon md-svg-icon="assets/images/icons/dashboard.svg"></md-icon>
        </md-button>
      </div>
</md-toolbar>